<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0f13cdf771.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Comfortaa&family=Raleway:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./CSS/utils.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/contact.css">
    <link rel="stylesheet" href="./CSS/about.css">
    <link rel="stylesheet" href="./CSS/profile-page.css">
    <link rel="stylesheet" href="./CSS/login-register.css">


    <title>Farmer_Site</title>
</head>

<body>
    <section class="wrapper">

        <!-- ----------------------Website name & Logo  and profile section ----------------------------->

        <div class="top-section">
            <div class="site-id">
                <img src="./img/logo.png" alt="logo">
                <span class="p-heading">KishanMitra</span>
            </div>

            <!-- ----Profile Section--------------- -->
            <!-- <div class="profile-section">
                <img src="./img/man.png" alt="" class="small-user-img">
                <span class="user-name">User Name</span>
            </div> -->
        </div>

        <!-- -------------------------Navigation Section---------------------------->

        <nav class="navigation">
            <div class="nav-bar">
                <ul>
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="./about">About</a></li>
                    <li class="nav-item"><a href="./contact">Contact Us</a></li>
                    <li class="nav-item"><a href="./userguide">User Guide</a></li>
                    <!-- <li class="nav-item"><a href="#">User Guide</a></li> -->
                </ul>
            </div>
        </nav>






