<%- include('partials/header') %>



        <!-- ---------------contact form------------------ -->



        <div class="contact-box">
            <!-- left side  -->
            <div class="form-left">
                <div class="contact-intro">
                    <h1>Contact Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus provident animi quos
                        omnis.
                        . Ratione aspernatur error.</p>
                </div>
                <div class="contact-icons" id="mail-us">
                    <img src="./img/mail.svg" alt="">
                    <p>Mail Us</p>
                    <p>Kishanmitra@gmail.com</p>
                </div>

                <div class="contact-icons" id="call us">
                    <img src="./img/phone.svg" alt="">
                    <p>Call Us</p>
                    <p>+91 123456789</p>
                </div>
            </div>

            <!-- --right side of contact box -->

            <div class="form-right">
                <form action="#" class="contact-form">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Your Name" required>

                    <label for="mob">Phone</label>
                    <input type="number" placeholder="Your Number" required>

                    <label for="mail">E-mail</label>
                    <input type="email" placeholder="Your Mail">

                    <label for="message">Message</label>
                    <textarea name="message" id="" cols="30" rows="5" placeholder="Your Query" required></textarea>
                    
                    <div class="user-type">
                        <span>Category :</span>

                        <div class="options">
                            <input type="radio" name="user-type" id="farmer" value="Farmer">
                            <label for="user">Farmer</label>
                            <input type="radio" name="user-type" id="retailer" value="Retailer">
                            <label for="user">Retailer</label>
                            <input type="radio" name="user-type" id="guest" value="Guest">
                            <label for="user">Guest</label>
                        </div>

                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>


            </div>

        </div>





        <div>
            <hr class="hr-long">
        </div>
        <!-- -----------------------------Footer Section----------------------- --->

        <section class="footer">
            <h3>KishanMitra
            </h3>
            <p>All rights Reserved &copy; Team <span> The Brogrammers </span> </p>
        </section>

    </section>

<!-- </body>

</html> -->
<%- include('partials/footer') %>