<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer_Site</title>
    <script src="https://kit.fontawesome.com/0f13cdf771.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Comfortaa&family=Raleway:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./CSS/utils.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/Home2.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  

</head>
<body>
    <section class="wrapper">
        
        <!-- ----------------------Website name & Logo  and profile section ----------------------------->

        <div class="top-section">
            <div class="site-id">
                <img src="./img/logo.png" alt="logo">
                <span class="p-heading">KishanMitra</span>
            </div>

            <!-- ----Profile Section--------------- -->
            <!-- <div class="profile-section">
                <img src="./img/man.png" alt="" class="small-user-img">
                <span class="user-name">User Name</span>
            </div> -->
        </div>

        <!-- -------------------------Navigation Section---------------------------->

        <nav class="navigation">
            <div class="nav-bar">
                <ul>
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="./about">About</a></li>
                    <li class="nav-item"><a href="./contact">Contact Us</a></li>
                    <!-- <li class="nav-item"><a href="#">Services</a></li> -->
                    <li class="nav-item"><a href="./userguide">User Guide</a></li>
                </ul>
            </div>
        </nav>


        <!-- -----------------------Intro Section----------------------------------->
        <div class="intro-section">
            <!-- intro left side -->
            <div class="intro-left ">
                <h2>Welcome person_name to our family</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur
                    nobis sed, ducimus impedit voluptate magnam assumenda, ab quos.
                </p>
            </div>

            <!-- sign-in and sign-up boxs -->

            <!-- <div class="sign-up box1">
                <h3>Create Account Now! </h3>
                <a class="btn" href="./Register.html" >Register</a>
            </div>

            <div class="sign-in box1">
                <h3>Login Now! </h3>
                <a class="btn" href="./login.html" >Login</a>
            </div> -->
        </div>
        <div>
            <hr class="hr-long">
        </div>
        
        <h3 class="s-heading" id="retailer-heading">Your-Posts</h2>
        <div>
            <hr class="hr-post">
        </div>
        <div class="post">
            <div class="slider owl-carousel">
                <div class="cards">
                    <div class="img"><img src="./img/bg-1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-1</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-2.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-2</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-3</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-4</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-2.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-5</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
               
               
            </div>
           
        </div>
        <h3 class="s-heading" id="retailer-heading">Other-Farmers</h2>
            <div>
                <hr class="hr-post">
            </div>

        <div class="post">
            <div class="slider owl-carousel">
                <div class="cards">
                    <div class="img"><img src="./img/bg-1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-1</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-2.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-2</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-3</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-4</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-2.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-5</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
               
               
            </div>
           
        </div>
        <h3 class="s-heading" id="retailer-heading">Other-Retailers</h2>
            <div>
                <hr class="hr-post">
            </div>
        <div class="post">
            <div class="slider owl-carousel">
                <div class="cards">
                    <div class="img"><img src="./img/bg-1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-1</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-2.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-2</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-3</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-4</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="img"><img src="./img/bg-2.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Farmer-5</div>
                        <div class="sub-title">content</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas expedita at sed natus. Nostrum laborum aut culpa illum ipsa sapiente atque autem exercitationem, quia ipsum, maxime iusto odit earum deleniti est. Doloremque?</p>
                        <div class="btn1">
                            <button>read more</button>
                        </div>
                    </div>
                </div>
               
               
            </div>
           
        </div>
        <div>
            <hr class="hr-long">
        </div>
        <section class="footer">
            <h3>KishanMitra
            </h3>
            <p>All rights Reserved &copy; Team <span> The Brogrammers </span> </p>
        </section>

    </section>
    <script>
        $(".slider").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout : 4000,
            autoplayHoverPause : true, 
        });
    </script>


</body>
</html>
