<%- include('partials/header') %>
        <!-- -------------------Farmers Features----------------------------------->

        <section>
            <h3 class="s-heading">Farmers-Section</h2>
                <div>
                    <hr class="hr-heading">
                </div>
                <div class="farmers-services">
                    <div class="service-box ">
                        <img src="./img/international-consumer.svg" alt="">
                        <p>Lorem ipsum dolor sit.</p>
                        <a href="#">Read More</a>
                    </div>

                    <div class="service-box">
                        <img src="./img/agronomy.svg" alt="">
                        <p>Lorem ipsum dolor sit.</p>
                        <a href="#">Read More</a>
                    </div>
                    <div class="service-box">
                        <img src="./img/support.svg" alt="">
                        <p>Lorem ipsum dolor sit.</p>
                        <a href="#">Read More</a>
                    </div>
                    <div class="service-box">
                        <img src="./img/ads.svg" alt="">
                        <p>Lorem ipsum dolor sit.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
        </section>

        <!-- -----------------------Retailers Features------------------------------>
        <section>
            <h3 class="s-heading" id="retailer-heading">Retailers-Section</h2>
                <div>
                    <hr class="hr-heading">
                </div>
                <div class="Retailer-services">
                    <!-- service boxs -->
                    <div class="service-box ">
                        <img src="./img/international-consumer.svg" alt="">
                        <p>Lorem ipsum dolor sit.</p>
                        <a href="#">Read More</a>
                    </div>

                    <div class="service-box">
                        <img src="./img/agronomy.svg" alt="">
                        <p>Lorem ipsum dolor sit.</p>
                        <a href="#">Read More</a>
                    </div>
                    <div class="service-box">
                        <img src="./img/support.svg" alt="">
                        <p>Lorem ipsum dolor sit.</p>
                        <a href="#">Read More</a>
                    </div>
                    <div class="service-box">
                        <img src="./img/ads.svg" alt="">
                        <p>Lorem ipsum dolor sit.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
        </section>
        <!-- ---------------------------------------------------- -->
        <div>
            <hr class="hr-long">
        </div>
        <!-- -------------------------Review Section------------------------------>

        <section id="review-section">
            <h3>Reviews</h3>
            <div>
                <hr class="hr-sub-heading">
            </div>
            <div class="review-items">
                <!-- review-boxs -->
                <div class="reviews">
                    <p class="title">Farmer | Area</p>
                    <img src="./img/man.png" alt="" class="user-img">
                    <div class="review-text">
                        <img src="./img/open-quotes.png" alt="" id="open-quote-icon">
                        <span>Lorem ipsum, dolor sit amet
                            consectetur
                            delectus expedita error qui eum enim reiciendis odit dolor magni,
                            molestias sequi ducimus nam quibusdam sint harum voluptatem?</span><img
                            src="./img/close-quotes.png" alt="" id="close-quote-icon">
                    </div>
                </div>
                <div class="reviews">
                    <p class="title">Farmer | Area</p>
                    <img src="./img/man.png" alt="" class="user-img">
                    <div class="review-text">
                        <img src="./img/open-quotes.png" alt="" id="open-quote-icon">
                        <span>Lorem ipsum, dolor sit amet
                            consectetur
                            delectus expedita error qui eum enim reiciendis odit dolor magni,
                            molestias sequi ducimus nam quibusdam sint harum voluptatem?</span><img
                            src="./img/close-quotes.png" alt="" id="close-quote-icon">
                    </div>
                </div>
                <div class="reviews">
                    <p class="title">Retailer | Area</p>
                    <img src="./img/man.png" alt="" class="user-img">
                    <div class="review-text">
                        <img src="./img/open-quotes.png" alt="" id="open-quote-icon">
                        <span>Lorem ipsum, dolor sit amet
                            consectetur
                            delectus expedita error qui eum enim reiciendis odit dolor magni,
                            molestias sequi ducimus nam quibusdam sint harum voluptatem?</span><img
                            src="./img/close-quotes.png" alt="" id="close-quote-icon">
                    </div>
                </div>
            </div>
        </section>

        <div>
            <hr class="hr-long">
        </div>
        <!-- -----------------------------Footer Section----------------------- --->

        <section class="footer">
            <h3>KishanMitra
            </h3>
            <p>All rights Reserved &copy; Team <span> The Brogrammers </span> </p>
        </section>

    </section>

<%- include('partials/footer') %>