<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/login-register.css">
    <script src="https://kit.fontawesome.com/0f13cdf771.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Comfortaa&family=Raleway:wght@500&display=swap"
        rel="stylesheet">
   

    <title>Farmer_Site</title>
</head>

<body>
<div class="login-box">
        <% if(messages.error) { %>
                <span style="color:rgb(114, 160, 245);" class="text-red-500 text-sm"><%= messages.error %></span><hr>
                <% } %>
        <form  action="/login" method="post">
            <img src="./img/avatar.png" class="avatar"></img>
            <h1>Login Here</h1>
                <p>Email</p>
                <input type="email" name="email" placeholder="Enter email">
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password">
                <input type="submit" name="submit" value="Login"><br>
                <a href="/register" class="font-bold text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                        Don't have Account?
                      </a>
        </form>
</div>

</body>
</html>