<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/login-register.css">
    <script src="https://kit.fontawesome.com/0f13cdf771.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Comfortaa&family=Raleway:wght@500&display=swap"
        rel="stylesheet">

    <title>Farmer_Site</title>
</head>

<body>
    <div class="login-register-intro">
        <img src="./img/logo.png" alt="">

        <div class="greeting-text">
            <p>
                <span>KishanMitra</span><br>We are very Grateful to have You On Board !<br> Please Register And Enjoy
                All
                the Facilities and Increase your income
            </p>
        </div>
    </div>
<div class="register-box">
    <% if(messages.error) { %>
        <span style="color:rgb(114, 160, 245);" class="text-red-500 text-sm"><%= messages.error %></span><br>
        <% } %>
        <form action="/register" method="post">
            <img src="./img/avatar.png" class="avatar">
            <h1>Register Here</h1>
                <label for="" class="all">Username</label><br>
                <input type="text" name="username" id="name" placeholder="Your Name"><br><br>
               
                <!-- <label for="">Password:</label> -->
                <label for="" class="all">Email</label><br>
                <input type="email" name="email" id="mail" placeholder="Enter Your Email"><br><br>
                <label for="" class="all"> Create Password</label><br>
                <input type="password" name="password" id="pass" placeholder="Your Password"><br><br>
                <!-- <label for="" class="all">Mobile Number:</label><br>
                <input type="number" name="phone" id="num" placeholder="Enter Mobile Number"><br><br> -->
                <!-- <label for="" class="all">Re-enter Password:</label><br>
                    <input type="password" name="Rpassword" id="Rpass" placeholder="Re-enter Your Password"><br><br> -->
                <input type="submit" name="submit" value="Register">
                <a href="/login" >
                    Aready have Account?
                  </a>
        </form>
</div>
</body>


</html>
