<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/0f13cdf771.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Comfortaa&family=Raleway:wght@500&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="./CSS/utils.css" />
  <link rel="stylesheet" href="./CSS/style.css" />
  <link rel="stylesheet" href="./CSS/profile-page.css" />

  <title>Farmer_Site</title>
</head>

<body>
  <section>
    <div class="top-section">
      <div class="site-id">
        <img src="./img/logo.png" alt="logo" />
        <span class="p-heading">
          <a href="./" style="text-decoration: none">KishanMitra</a>
        </span>
        <!-- <a href="./index.html"> Home</a> -->
      </div>

      <!-- ----Profile Section--------------- -->
      <!-- <div class="profile-section">
        <img src="./img/man.png" alt="" class="small-user-img" />
        <a href="#" class="user-name">User name</a>
      </div> -->
      
    </div>
  </section>
 <!-- ---------Update Password Section------------- -->

 <div class="content-item " id="content-item-2">
    <div class="update-password">
      <h1>Update Password </h1>
      <hr class="hr-small">
      <div class="current-new-password">
        <form action="/profile/updatepassword" method="post">

          <div class="form-item">
            <label for="Current Pass">Current Password : </label>
            <input type="password" name="currentpassword" id="curpassword" placeholder=" Your Current Password">
          </div>
          <div class="form-item">
            <label for="New Password :">New Password : </label>
            <input type="password" name="newpassword" id="newpassword" placeholder="Your New Password">
          </div>
          <div class="form-item">
            <label for="confirm Pass">Confirm New Password : </label>
            <input type="password" name="newpassword" id="confirmnewpassword" placeholder="Confirm New Password">
          </div>

          <div class="buttons-section">
            <button type="submit" class="btn">Save</button>
            <!-- <button type="reset" class="btn">Reset</button> -->
          </div>
        </form>
       
      </div>
    </div>
  </div>


  </body>
  </html>
